**/target
**/dist/
**/frontend/public/assets/shoelace/assets/icons/
**/project/target
**/metals.sbt

.bloop
.bsp
.vscode
.metals

*.class

project/.bloop

shared/.jvm/target
shared/.js/target
target

modules/backend/src/main/resources/dev.js
modules/backend/src/main/resources/prod.js
modules/app/src/main/resources
.idea
node_modules
*.lsp.log
.smithy.lsp.log
playwright-screenshots

**/.scala-build

.downloads